/**
 * Strip Browsers of Specific Form Styles
**/
::-webkit-input-placeholder {
	color: inherit;
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::placeholder {
    opacity: 1;
	font-style: italic;
}
:focus::placeholder {
	color: transparent;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
::-moz-ui-invalid {
	box-shadow: none;
}
::-ms-expand {
	display: none;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	text-transform: none;
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		-webkit-appearance: none;
  		-moz-appearance: none;
	}
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
::-webkit-color-swatch-wrapper {
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}


/**
 * Generic Form Styles
**/
select{
	transition: .2s all ease-out;
}
input:focus, textarea:focus, select:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-color: Highlight;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
textarea, select {
	width: 100%;
	max-width: 100%;
	padding: 0.5em;
	background-color: #D8D8D8;
	border: 2px solid $color_primary;
	border-radius: 0;
	font-size: $base_font_size;
	font-family: $font_body;
}
input[type="search"]{
	background-color: $color_white;
}
textarea {
	overflow: auto;
	-ms-overflow-style: scrollbar;
	resize: vertical;
	vertical-align: top;
	min-height: 8em;
	max-height: 30em;
	line-height: 1.857;
}
input[type="submit"],
input[type="reset"],
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}
form {
	margin: 0;
	font-size: 1em;
	font-family: inherit;
}
fieldset {
	min-width: 0;
}
legend {
	display: table;
	width: 100%;
	white-space: normal;
	padding: 0;
}
label[for] {
	cursor: pointer;
}
.wpcf7-form, form{
	h2{
		margin-bottom: .8em;
	}
	.two-col {
		display: flex;
		
		.input-wrap {
			width: 50%;
			
			&:first-of-type{
				margin-right: 2.1em;
			}
		}
	}
}
.input-wrap {
	position: relative;
	margin-bottom: 2.1em;

	input{
		transition: .2s all ease-out;
	}
	label{
		position: absolute;
        top: 0.5em;
        left: 0.8em;
        line-height: 1;
		pointer-events: none;
		transition: .2s top ease-out, .2s left ease-out;
    }
	em{
		font-size: 0.9375em;
	}
	&.input-not-empty{
		label {
			top: -1.6em;
			left: 0em;
			pointer-events: auto;
		}
	}
	&.has-validation-error{
		input{
			border: 2px solid $color_error;
		}
		.validation-error{
			color: $color_error;
			font-size: .9em;
			margin-top: 0.2em;
		}
	}
	&.select{
		label {
			top: -1.6em;
    		left: 0em;
			pointer-events: all;
		}
		[class*='icon-']{
			position: absolute;
			top: 50%;
			right: 0.3em;
			z-index: 7;
			transform: translateY(-50%) rotate(270deg);
			font-size: 1.4em;
			transition: all 0.25s ease-out;
			pointer-events: none;
		}
		select:focus + [class*='icon-']{
			transform: translateY(-50%) rotate(90deg);
		}
	}
	&.center {
		display: flex;
		justify-content: center;
	}
}
input[type="checkbox"], input[type="radio"] {
	display: none;
	
	& + label{
		position: relative;
		top: 0;
        left: 0;
        line-height: normal;
		pointer-events: auto;
		
		&:before{
			content: "";
			display: inline-block;
    		margin-bottom: -0.09em;
    		margin-right: 0.4em;
			width: 14px;
			height: 14px;
    		background-color: #D8D8D8;
    		border: 2px solid $color_primary;
		}
	}
}
input[type="checkbox"]{
	& + label{
		&:before{
			position: relative;
			z-index: 1;
			border-radius: 3px;
			line-height: 0.8em!important;
		}
		&:after{
			position: absolute;
			top: 0.3em;
    		left: 0.1em;
			z-index: 2;
			transition: .2s transform ease-out!important;
			transform: scale(0);
			font-size: 0.8em;
			font-weight: 900!important;
		}
	}
	&:checked + label{
		&:after{
			transform: scale(1);
		}
	}
}
input[type="radio"] {
	& + label{
		&:before{
			transition: .2s border ease-out!important;
			border-radius: 25px;
		}
	}
	&:checked + label{
		&:before{
			border-width: 7px;
		}
	}
}


/**
 * Contact Form 7
**/
.wpcf7 {
    .screen-reader-response {
        @include sr-only;
    }
}
